<section id="addVideos">
	<div id="searchVideos">
		<form class="searchVideosForm">
			<label for="search">Search Videos</label>
			<input type="search" id="searchInput">
			<button type="submit">search</button>
		</form>
		<ul class="searchVideosList">
			<li class="previewVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
		
		</ul>
	</div>
</section>