<section id="videoPlayer">
	<div class="videoContainer">
		<div class="videoFrame">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/wVHAQX5sSaU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="videoList">
		<ul class="previewVideolist">
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
			<li class="previewPlaylistVideo">
				<a>
					<img src="https://i.ytimg.com/vi_webp/wVHAQX5sSaU/sddefault.webp">
					<h6>Bobby Darin - Dream lover</h6>
				</a>
			</li>
		</ul>
	</div>
</section>



