<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VideoPlayer</title>
{{!-- Place stylesheets here --}}
	<link rel="stylesheet" type="text/css" href="../css/main.css" />
	<link rel="stylesheet" type="text/css" href="../css/videoPLayer.css" />
	<link rel="stylesheet" type="text/css" href="../css/navBar.css" />
{{!-- End of stylesheets --}}
</head>
<body>
	{{{body}}}
</body>
{{!-- Place scripts here --}}
<script>
	
	var token = '{{token}}'
	console.log(token)

</script>
<script src="/socket.io/socket.io.js"></script>
<script src="Javascript/transparency.min.js"></script>
<script src="Javascript/socket.js"></script>
<script src="Javascript/playVideos.js"></script>
<script src="Javascript/searchVideos.js"></script>

{{!-- End of scripts --}}
</html>