* {
	box-sizing: border-box;
}

body {
	/* remove body scroll */
	overflow: hidden;
	max-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}